@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

body {
  @apply bg-ctp-base font-lexend text-ctp-text text-base;
}

@theme {
  --font-lexend: "Lexend", sans-serif;
}
